# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# System Files
.DS_Store

# Project specific
cloudflared
data/
